/*Общие стили*/
body {
	margin: 0;
	padding: 0;


	font-family: "PT Sans Narrow", Arial, sans-serif;

	font-size: 14px;
	font-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url("../img/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

/*Общие стили для 2й и 3й страницы*/

.inner-page {
	color: #000000;

	background-color: #f9f6f3;
	background-image: url("../img/pattern-bg-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

a {
	text-decoration: none;
}

/*шапка сайта*/

.main-header {
	margin-bottom: 75px;
}

.inner-page {
	margin-bottom: 50px;

}

.inner-page .main-header {
	margin-bottom: 50px;
	background-color: #000000;

}

.inner-page .main-header-logo {
	order: 0
	width: 111px;
	height: 124px;
	padding: 23px 20px;
}

/*стиль кнопок*/

.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}
 
.button: hover,
.button: focus,
.button: active {
	background-color: #663d15;
}

/*стиль для основной навигации*/

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 16px;
	font-height: 20px;
	color: #ffffff;

/*	background-color: #000000; */
}

/*стиль для основной навигации 2 и 3 страницы */

.inner-page .main-navigation {
	align-items: flex-start;
	flex-direction: row;

/*	

	background-color: #000000;*/
	width: 960px;
	margin: auto;
	min-height: 70px; /*временно*/
	border: 1px solid red;
}

/*убрали нижнюю линию в навигации*/

.site-navigation,
.user-navigation {
	list-style: none;
}

/*белый цвет для ссылок в навигации*/

.site-navigation a,
.user-navigation a {
	color: #ffffff;
}

/*ховер и фокус для навигации*/

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

/*стили для основного контейнера*/

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;

	border: 1px solid green; /*temporary*/
}

/*стили для 3 надписей под шапкой*/

.features-list {
	list-style: none;
}

.feature-item {
	text-align: center;
}

.featurte-item h3 {
	font-size: 30px;
	font-height: 42px;
}

/*новости и фотогаллерея*/

.index-colums {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
	margin-bottom: 35px;

	color: #000000;

	background-color: #f8f5f2;
	background-image: url("../img/pattern-bg-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.index-colums h2 {
	font-size: 30px;
	line-height: 42px;
}

.news {
	width: 380px;

	border: 1px solid yellow; /*temporary*/
}

.news-list,
.gallery-content {
	padding: 0;
	margin: 0;
}

.gallery {
	width: 300px;

	border: 1px solid yellow; /*temporary*/
}

.news-list {
	list-style: none;
}

.news-item time {
	text-transform: none;
}

.gallery-content {
	background-color: #e5e5e5;
	border: 7px solid #ffffff;
}

/*контакты и запись*/

.contacts {
	width: 380px;

	border: 1px solid yellow; /*temporary*/
}

.appointment {
	width: 300px;

	border: 1px solid yellow; /*temporary*/
}

.appointment-item input {
	font: inherit;

	background-color: transparent;
	border: 2px solid #000000
}

.appointment-item input:focus {
	border-color: #663d15;
}

/*список 3 сумок в айтеме*/

.product-photo-preview {
	list-style: none;
}

.product-photo-preview li {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
	text-align: right;
	color: #aeaeae;
}

.product-price b {
	line-height: 24px;
	text-align: center;;

	background-color: #e5e5e5;
}

.product-price a {
	color: #ffffff;w
}

.product-info h3 {
	font-size: 24px;
	line-height: 30px;
}

.product-info ul {
	list-style: none;
}

/*заголовок в шопе*/
.page-title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0; 

	font-size: 30px;
	line-height: 42px;

	border: 1px solid blue; /*temporary*/
}

.breadcrumbs {
	padding: 0;
	margin: 0;
	margin-bottom: 50px;

	list-style: none;
		border: 1px solid purple; /*temporary*/
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs-current {
	color: #aba9a7;
}

.catalog-colums {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 180px;

		border: 1px solid grey; /*temporary*/
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 24px;
	line-height: 30px;
}

.filter ul {
	list-style: none;
	line-height: 18px;
}

.filter input:hover + label,
.filter input:focus + label {
	color: #663d15;
}

.filter input:disabled + label {
	color: #000000;

	opacity: 0.5;
}

.catalog {
	width: 700px;

		border: 1px solid pink; /*temporary*/
		min-height: 687px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	list-style:none;
}

.catalog-item {
	width: 220px;
	margin-bottom: 20px;
/*	margin-right: 20px;*/

	background-color: #f7f7f7;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

	min-height: 285px;
	border: 1px solid black; /*temporary*/
}

/*.catalog-item:ntn-child(3n) {
	margin-right: 0;
}*/

.catalog-item:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
	color: #000000;
}

.catalog-item h3 {
	font-size: 14px;
	line-height: 18px;
}

.catalog-category {
	text-transform: none;
}

.catalog-item-price b {
	font-size: 14px;
	line-height: 18px;
	text-align: center;

	background-color: #e5e5e5;
}

.catalog-item-price .button {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
}

.pagination-list {
	padding: 0;
	margin: 0;

	list-style: none;
	border: 1px solid red; /*temporary*/
}

.pagination-item a {
	color: #ffffff;

	background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
	background-color: #663d15;
}

.pagination-item-current a {
	color: #000000;

	background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000000;

	background-color: #ffffff;
}

.main-footer {
	color: #ffffff;

	background-color: #212121;
	background-image: url("../img/pattern-bg-dark.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.inner-page .main-footer {
	margin-top: 45px;
}

.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.social-button {
	color: #ffffff;
}

.footer-copyright {
	text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000000;

	background-color: #ffffff;
}

.modal {
	color: #000000;

	backgroung-color: #f6f3f0;
	background-image: url("../img/pattern-bg-light.jpg");
	background-position: 0 0;
	backgroung-repeat: repeat;
}

.modal h2 {
	font-size: 30px;
	font-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}

/*Строчные стили*/

html,
body {
	min-width: 1122px;
	min height: 1750px;
}

.main-header-logo {
	order: 2;
	width: 368px;
	height: 157px;

	border: 1px solid yellow; /*temporary*/
}


.inner-page .main-header-logo {
	order: 0;

	width: 113px;
	height: 25px;
	padding: 23px 20px;
}

.inner-page .user-navigation {
	margin-left:auto;
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;

	background-color: #000000;

	border: 1px solid red; /*temporary*/
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.site-navigation,
.user-navigation {
	list-style: none;
	margin: 0;
	padding: 0;

	border: 1px solid yellow; /*temporary*/
}

.site-navigation {
	width: 620px;
}

.user-navigation {
	width: 140px;
}

.features {
	margin-bottom: 80px;
}

.features-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.feature-item {
	width: 300px;
	text-align: center;
}

.main-footer {
	padding: 60px 0;
	margin-top: 65px;
}

.main-footer .container {
	display: flex;
}
.footer-contacts {
	width: 320px;
	margin: 0;
	margin-right: 80px;

	border: 1px solid yellow; /*temporary*/
}

.footer-social {
	width: 145px;

	border: 1px solid yellow; /*temporary*/

}

.footer-copyright {
	width: 150px;
	margin-left: auto;

	border: 1px solid yellow; /*temporary*/

}

.catalog-colums {
	display: flex;
	justify-content: space-between;
}


