/*Общие стили*/
body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans Narrow", Arial, sans-serif;

	font-size: 14px;
	font-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #000000;
	background-image: url("../img/bg.jpg");
	background-position: top center;
	background-repeat: no-repeat;
}

/*Общие стили для 2й и 3й страницы*/

.inner-page {
	color: #000000;

	background-color: #f9f6f3;
	background-image: url("../img/pattern-bg-light.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*шапка сайта*/

.main-header {
	margin-bottom: 75px;
}

.main-header-logo {
	order: 2;
	width: 368px;
	height: 157px; 
}

.main-navigation-wrapper {
	width: 100%;
	margin-bottom: 60px;

	background-color: #000000;
}

.main-navigation-wrapper .container {
	display: flex;
	justify-content: space-between;
}

.inner-page {
	margin-bottom: 50px;
}

.inner-page .main-header {
	margin-bottom: 50px;
	background-color: #000000;
}

.inner-page .main-header-logo {
	order: 0;

	width: 113px;
	height: 25px;
	padding: 23px 20px;
}

/*стиль кнопок*/

.button {
	display: inline-block;
	padding: 15px 30px;
	margin-right: 16px;

	font: inherit;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active {
	background-color: #663d15;
}

.button.disabled,
.button:disabled {
	cursor: default;
	opacity: 0.5;
	background-color: #000000;
}

/*стиль для основной навигации*/

.main-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 16px;
	font-height: 20px;
	color: #ffffff;
}

/*стиль для основной навигации 2 и 3 страницы */

.inner-page .main-navigation {
	align-items: flex-start;
	flex-direction: row;

	width: 960px;
	margin: auto;
}

.inner-page .user-navigation {
	margin-left:auto;
}

/*убрали нижнюю линию в навигации*/

.site-navigation,
.user-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 620px;
}

/*белый цвет для ссылок в навигации*/

.site-navigation a,
.user-navigation a {
	display: block;
	padding: 25px 20px;

	color: #ffffff;
}

.user-navigation {
	max-width: 140px;
}

/*ховер и фокус для навигации*/

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #242424;
}

.site-navigation-current {
	position: relative;
}

.site-navigation-current a:not([href]) {
	text-decoration: underline;
}

.site-navigation-current a[href] {
	text-decoration: underline;
}

.site-navigation-current::after {
	content: "";

	position: absolute;
	right: 20px;
	left: 20px;
	bottom: 0;
	height: 5px;

	background-color: #ffffff; 
}

.user-navigation .login-link {
	position: relative;
	padding-left: 50px;
}

.login-link::before {
	content: " ";
	position: absolute;
	top: 26px;
	left: 24px;

	width: 16px;
	height: 18px;

	background-image: url(../img/login.svg);
	background-repeat: no-repeat;
	background-position: 0 0;

	opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {

	opacity: 1;
}

/*стили для основного контейнера*/

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

/*стили для 3 надписей под шапкой*/

.features {
	margin-bottom: 80px;
}

.features-list {
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;

	list-style: none;
}

.feature-item {
	width: 300px;
	text-align: center;
}

.feature-item h3 {
	position: relative;

	margin: 0;
	margin-bottom: 60px;
	font-size: 30px;
	font-height: 42px;
}

.feature-item p {
	margin: 0 10px;
	line-height: 1.8;
}

.feature-item h3::after {
	content: "";

	bottom: -30px;
	left: 50%;
	margin-left: -10px;

	position: absolute;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);

	background-color: #ffffff;
}

/*новости и фотогаллерея*/

.index-colums {
	display: flex;
	justify-content: space-between;
	padding: 50px 80px;
	margin-bottom: 35px;

	color: #000000;

	background-color: #f8f5f2;
	background-image:
	url("../img/line.png"),
	url("../img/pattern-bg-light.jpg");
	background-position:center, 0 0;
	background-repeat: no-repeat, repeat;
}

.index-colums h2 {
	margin: 0;
	margin-bottom: 25px;

	font-size: 30px;
	line-height: 42px;
}

.news {
	width: 380px;
	position: relative;
}

.news-list {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;

	list-style: none;
}

.news-item {
	margin-bottom: 25px;
}

.news-item p {
	line-height: 1.5;
}

.news .button {
	position: absolute;
	bottom: 0;
}

.gallery {
	width: 300px;
}

.gallery-container {
	position: relative;

	height: 260px;
}

.gallery-content {
	height: 164px;
	margin: 0;
	background-color: #e5e5e5;
	border: 7px solid #ffffff;
}

.gallery-content img {
	width: 286px;
	height: 164;
}

.gallery-button {
	position: absolute;
	box-sizing: border-box;
	bottom: 0;

	width: 140px;
	margin: 0;
}

.gallery-button-back {
	left: 0;
}

.gallery-button-next {
	right: 0;
}

.margin-item p {
	margin: 0;
}

.news-item time {
	text-transform: none;
}

/*контакты и запись*/

.contacts {
	width: 380px;
}

.contacts p {
	margin: 0;
	margin-bottom: 25px;
	line-height: 1.5;
}

.appointment {
	width: 300px;
}

.appointment-info {
	margin: 0;
	margin-bottom: 15px;
}

.appointment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.appointment-item {
	width: 140px;
	margin: 0;
	margin-bottom: 10px;
}

.appointment-item label {
	display: block;
	margin-bottom: 10px;
	margin-left: 15px;
}

.appointment-item input {
	box-sizing: border-box;
	width: 140px;
	padding-top: 8px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 7px;
	font: inherit;
}

.appointment-item input:focus {
	border-color: #663d15;
}

.appointment .button {
	width: 100%;
	margin-top: 10px;
	margin-right: 0;
}

/*список 3 сумок в айтеме*/

.product-photo-preview {
	list-style: none;
}

.product-photo-preview li {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
	text-align: right;
	color: #aeaeae;
}

.product-price b {
	line-height: 24px;
	text-align: center;;

	background-color: #e5e5e5;
}

.product-price a {
	color: #ffffff;w
}

.product-info h3 {
	font-size: 24px;
	line-height: 30px;
}

.product-info ul {
	list-style: none;
}

/*заголовок в шопе*/
.page-title {
	margin: 0;
	margin-bottom: 15px;
	padding: 0; 

	font-size: 30px;
	line-height: 42px;
}

.breadcrumbs {
	padding: 0;
	margin: 0;
	margin-bottom: 50px;

	list-style: none;
}

.breadcrumbs a {
	color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	text-decoration: underline;
}

.breadcrumbs-current {
	color: #aba9a7;
}

.catalog-colums {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 180px;
}

.filter fieldset {
	border: none;
}

.filter legend {
	font-size: 24px;
	line-height: 30px;
}

.filter ul {
	list-style: none;
	line-height: 18px;
}

.filter input:hover + label,
.filter input:focus + label {
	color: #663d15;
}

.filter input:disabled + label {
	color: #000000;

	opacity: 0.5;
}

.catalog {
	width: 700px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	list-style:none;
}

.catalog-item {
	width: 220px;
	margin-bottom: 20px;
/*	margin-right: 20px;*/

	background-color: #f7f7f7;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/*.catalog-item:ntn-child(3n) {
	margin-right: 0;
}*/

.catalog-item:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
	color: #000000;
}

.catalog-item h3 {
	font-size: 14px;
	line-height: 18px;
}

.catalog-category {
	text-transform: none;
}

.catalog-item-price b {
	font-size: 14px;
	line-height: 18px;
	text-align: center;

	background-color: #e5e5e5;
}

.catalog-item-price .button {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
}

.pagination-list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.pagination-item a {
	color: #ffffff;

	background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
	background-color: #663d15;
}

.pagination-item-current a {
	color: #000000;

	background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: #000000;

	background-color: #ffffff;
}

.main-footer {
	color: #ffffff;

	background-color: #212121;
	background-image: url("../img/pattern-bg-dark.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.main-footer {
	padding: 60px 0;
	margin-top: 65px;
}

.main-footer .container {
	display: flex;
}

.footer-contacts {
	width: 320px;
	margin: 0;
	margin-right: 80px;
	line-height: 1.7;
}

.footer-social {
	width: 145px;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 141px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.footer-copyright {
	width: 150px;
	margin-left: auto;
}

.inner-page .main-footer {
	margin-top: 45px;
}

.footer-contacts a {
	color: #ffffff;
	text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
	text-decoration: none;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.footer-social b {
	display: block;
	margin-bottom: 15px;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 43px;
	height: 43px;

	background-color: #000000;
}

.social-button:hover,
.social-button:focus {
	background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
	fill: #000000;
}

.footer-copyright {
	width: 150px;
	margin: 0;
	margin-left: auto;
	text-align: center;
}

.footer-copyright .button {
	display: block;
	margin-right: 0;
}

.footer-copyright b {
	display: block;
	margin-bottom: 15px;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
	color: #000000;

	background-color: #ffffff;
}

.modal {
	color: #000000;

	backgroung-color: #f6f3f0;
	background-image: url("../img/pattern-bg-light.jpg");
	background-position: 0 0;
	backgroung-repeat: repeat;
}

.modal h2 {
	font-size: 30px;
	font-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.restore {
	color: #000000;
	text-decoration: underline;
}

.restore:hover,
.restore:focus {
	text-decoration: none;
}

/*Строчные стили*/

html,
body {
	min-width: 1122px;
	min height: 1750px;
}

/*modals*/

.modal {
	position: fixed;

	display: none;

	color: #000000;

	background-color: #f8f3f0;
	background-image: url(../img/pattern-bg-light.jpg);
	background-position: 0 0;
	background-repeat: repeat;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
	z-index: 2;
}

/*Оверлей*/
/*.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}*/

.modal-login {
	width: 300px;
	margin-left: -230px;
	padding: 50px 80px;

	top: 120px;
	left: 50%;
}

.modal-close {
	position: absolute;
	top: 0;
	right: -34px;
	width: 22px;
	height: 22px;

	font-size: 0;

	background-color: transparent;
	border: 0;

	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";

	position: absolute;
	top: 9px;
	left: 2px;

	width: 19px;
	height: 3px;

	background-color: #d0d0d0;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.modal-login h2 {
	margin: 0;

	margin-right: 80px;
	line-height: 1.7;
	letter-spacing: 0.7px;

	margin-bottom: 20px;

	font-size: 30px;
	line-height: 42px;
}

.modal-description {
	margin: 0;
	margin-bottom: 10px;
}

.login-form p {
	margin: 0;
	margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	box-sizing: border-box;
	width: 300px;
	padding: 10px 15px;
	padding-right: 40px;
	font: inherit;
	color: #000000;
	text-transform: uppercase;

	background-color: #f9f6f3;
	border: 2px solid #000000;
}

.login-form input:focus {
	border-color: #663d15;
}

.login-icon-user {
	background-image: url(../img/user-modal.svg);
	background-repeat: no-repeat;
	background-position: 270px center;
}

.login-icon-password {
	background-image: url(../img/lock-modal.svg);
	background-repeat: no-repeat;
	background-position: 270px center;
}

.login-form .login-help {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 15px 0;
}

.login-checkbox {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
}

.catalog-colums {
	display: flex;
	justify-content: space-between;
}

.login-checkbox:hover,
.login-checkbox:focus {
	color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;

	width: 17px;
	height: 17px;

	border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content:" ";
	position: absolute;
	top: 8px;
	left: 1px;

	width: 15px;
	height: 2px;

	background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
	transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform: rotate(-45deg);
}

.login-form .button {
	width: 100%;
	margin-right: 0;
}

.modal-map {
	top: 50%;
	left: 50%;

	width: 766px;
	height: 561px;
	margin-top: -280px;
	margin-left: -390px;
	margin-top: -280px;

	border: 7px solid white;
}

.modal-map p {
	margin: 0;
}